.about-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  opacity: 1;
  height: auto;
  width: var(--cWidth);
  margin: auto;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 15px);
  padding: 50px 0px;
}

.about-me {
  padding: 0px;
  padding-bottom: 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.about-me h3 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 400;
  color: var(--accentColor);
  margin-bottom: 15px;
}

.about-me p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin: 0;
}

.about-image-container {
  display: block;
  margin-bottom: 10px;
}

.about-profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 50px rgba(251, 141, 255, 0.4);
}

@media only screen and (min-width: 600px) {
  .about-section {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .about-me {
    width: 500px;
    max-width: calc(100% - 70px);
    transform: translateY(0%);
  }
  .about-section {
    opacity: 1;
  }
}
@media only screen and (min-width: 1025px) {
  .about-section {
    width: var(--cWidth);
    justify-content: flex-end;
    align-items: center;
    max-width: 1920px;
    height: var(--vh);
    padding: 0px;
    opacity: 1;
  }
  .about-content-wrapper {
    width: 50%;
    padding: 0px;
  }
  .about-image-container {
    display: block;
    margin-bottom: 15px;
  }
  .about-profile-pic {
    width: 280px;
    height: 280px;
  }
  .about-me {
    padding: 0px;
    width: 100%;
    max-width: 500px;
  }
  .about-me h3 {
    margin-bottom: 10px;
  }
  .about-me p {
    font-size: 1.3vw;
    line-height: 1.9vw;
  }
}
@media only screen and (min-width: 1950px) {
  .about-profile-pic {
    width: 320px;
    height: 320px;
  }
  .about-me p {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}
